spring:
  application:
    name: portfolio-backend

  datasource:
    url: jdbc:postgresql://localhost:5433/portfolio_db2
    username: admin_user
    password: admin_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
